<?xml version="1.0" encoding="UTF-8"?>
<module>
    <actions>
        <action name="procKitelboardguardImage" type="controller" method="GET" />
        <action name="procKitelboardguardActivityImage" type="controller" method="GET" />
        <action name="procKitelboardguardSetExhibitionVisibility" type="controller" method="POST" />
    </actions>
</module>
